body {
  background-color: black;
  margin: 0 auto;
  margin-bottom: 30px;
}

h1 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 60px;
}

h2 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 24px;
}
.navbar {
  padding: 40px;
  width: 100%;
  background-color: black;
}
.hero {
  padding: 15px 70px 70px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.content-container {
  padding: 30px 20px;
  border-radius: 10px;
  color: white;
  display: block;
  margin: 0 auto;
}

.content-container img {
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.intro {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 30px 20px;
  border-radius: 10px;
  color: white;
}

.btn-branded {
  background-color: black;
  color: white;
}

.btn-branded a {
  text-decoration: none;
}

.btn-branded-secondary {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.intro-images {
  margin: 30px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

footer {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.icon-container {
  padding: 10px 50px;
}

.icon-container a {
  color: white;
  opacity: 0.7;
  transition: all 100ms ease-in;
}

.icon-container a:hover {
  opacity: 1;
}

a {
  color: white;
}

@media (max-width: 768px) {
  .hero {
    padding: 20px;
  }
  h1 {
    font-size: 50px;
  }
  .hero p {
    font-size: 14px;
  }
  .intro-images {
    margin-top: 0;
  }

  .content-container {
    text-align: center;
  }
}
